/* Custom Style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Typography */

h1,
h2,
h3,
h4,
h5,
a,
p,
label,
button {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
}

.font-weight-bold {
  font-weight: bold;
}

body {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

.login-content {
  max-width: 540px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  width: 100%;
}

.login-form {
  background: #ffffff;
  padding: 30px 30px 40px;
  border-radius: 10px;
}

.login-logo {
  color: #814389;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.login-logo img {
  width: 200px;
  height: 80px;
  object-fit: contain;
  object-position: center;
}

.login-logo h3 {
  margin-left: 20px;
}

.smooth-shadow {
  box-shadow:
    2.8px 2.8px 2.2px -23px rgba(0, 0, 0, 0.014),
    6.7px 6.7px 5.3px -23px rgba(0, 0, 0, 0.02),
    12.5px 12.5px 10px -23px rgba(0, 0, 0, 0.025),
    22.3px 22.3px 17.9px -23px rgba(0, 0, 0, 0.03),
    41.8px 41.8px 33.4px -23px rgba(0, 0, 0, 0.036),
    100px 100px 80px -23px rgba(0, 0, 0, 0.05);
}

.logo-img {
  display: block;
  position: relative;
}

.logo-img .bg-logo {
  display: block;
  position: absolute;
  top: -6px;
  z-index: 2;
  background: transparent;
  left: 0;
  width: 90px;
  height: 90px;
}

.back {
  display: block;
  transform: rotateY(180deg);
}

.back {
  -webkit-animation: BackRotate 4s linear infinite;
  animation: BackRotate 4s linear infinite;
}

.front {
  -webkit-animation: Rotate 4s linear infinite;
  animation: Rotate 4s linear infinite;
}

/* Navigasi */

aside.left-panel {
  display: block;
  position: fixed;
  z-index: 2;
}

.right-panel {
  display: block;
  position: relative;
  margin-left: 280px;
}

.navbar .navbar-brand,
.navbar .navbar-nav li>a {
  font-family: 'Poppins', sans-serif;
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
  font-weight: 800;
}

.table-img {
  width: 100px;
  height: 100px;
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 5px 0;
}

.table-img img {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.btn-previewimg {
  border: none;
}

.form-group {
  position: relative;
}

label.error {
  font-size: 10px;
  color: red;
  margin-top: 5px;
  display: block;
  position: absolute;
  bottom: -3px;
  right: 8px;
  z-index: 2;
  background: #ffffff;
  padding: 1px 10px;
}

.img-box {
  height: 400px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-left h5 {
  font-size: 18px;
  text-transform: capitalize;
  color: #7c8efc;
}

.header-left p {
  font-size: 10px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 4px;
  color: #7c8efc;
  letter-spacing: 1px;
  margin: 0;
  /* margin-left: 16px; */
  border: 1px solid #7c8efc;
}

.breadcrumb li.active {
  font-family: 'Poppins', sans-serif;
  color: #cbcbcb;
}

.user-area .user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: top center;
}

.nav-link .fa {
  width: 15px;
}

span.count {
  font-size: 60px;
}

.content .card-body {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.content .card-body .card-icon {
  font-size: 120px;
  display: block;
  position: absolute;
  right: 10px;
  height: 100%;
  opacity: .5;
  bottom: -20px;
}

.card-header .btn {
  min-width: 160px;
  border-radius: 5px;
  padding: 8px 12px;
}

.table .btn {
  border-radius: 5px;
}

.format-link {
  color: #878787;
  display: flex;
  align-items: center;
}

.format-link .fa {
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#word-result section {
  padding: 0 !important;
}

#word-result div,
#word-result section {
  min-height: unset !important;
}

#word-result {
  display: none;
  position: relative;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
}

.links {
  color: #007bff;
  text-decoration: underline;
}

.datepicker td,
.datepicker th {
  padding: 7px;
}

.card {
  border-radius: 12px;
}

.fc-event-time {
  display: none !important;
}

.btn-theme-violet {
  background-color: #814389 !important;
  color: #ffffff;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}

.btn-theme-violet:hover {
  background-color: #76317e !important;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
}

.bg-theme-violet {
  background-color: #76317e !important;
}

p.error {
  color: red;
  font-size: 12px;
}

@-webkit-keyframes Rotate {
  75% {
    -webkit-transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@-webkit-keyframes BackRotate {
  75% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateY(540deg);
  }
}

@keyframes Rotate {
  75% {
    -webkit-transform: rotateY(0deg);
  }

  100% {
    -webkit-transform: rotateY(360deg);
  }
}

@keyframes BackRotate {
  75% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    -webkit-transform: rotateY(540deg);
  }
}

/* Select2 */

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--multiple {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-selection .select2-selection--multiple {
  min-height: 52px !important;
  height: auto !important;
  padding-bottom: 10px !important;
}

.select2-container--default .select2-selection--multiple {
  height: auto !important;
  padding-bottom: 10px !important;
}

.privilege-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.badge-privilege {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 6px;
  margin-bottom: 6px;
  justify-content: center;
  flex: 1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #596b95!important;
  color: #ffffff!important;
  border: 0!important;
  padding: 3px!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  color: #ffffff!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, 
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
  background: transparent!important;
  color: #fff!important;
}

@media (max-width: 1024px) {
  aside.left-panel {
    padding: 0 20px;
    width: min-content;
  }
}

@media (max-width: 575.99px) {
  aside.left-panel {
    width: 100%;
  }
}