/* Update */

a,
button,
img,
input {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: 0;
}

.header-logo img {
    height: auto!important;
}

.footer-logo img {
    height: 30px !important;
}

.footer-section::before {
    display: none;
}

.single-slider::before {
    background-color: #e5ddf1;
}

.sticky,
.header-main-wrapper,
.footer-section {
    background-color: #ffffff;
}

.header-main-wrapper{
    box-shadow: 2px 5px 126px -38px rgba(53, 24, 90, 0.88);
    -webkit-box-shadow: 2px 5px 126px -38px rgba(53, 24, 90, 0.88);
    -moz-box-shadow: 2px 5px 126px -38px rgba(53, 24, 90, 0.88);
}

.header-main.sticky {    
    box-shadow: 2px 5px 126px -38px rgba(53, 24, 90, 0.88);
    -webkit-box-shadow: 2px 5px 126px -38px rgba(53, 24, 90, 0.88);
    -moz-box-shadow: 2px 5px 126px -38px rgba(53, 24, 90, 0.88);
}

.header-main.sticky .header-main-wrapper {
    box-shadow:unset;
}

.primary-menu ul li a,
.single-work .number {
    color: #35185a;
}

.slider-content .main-title,
.section-title .main-title,
.footer-widget .title,
.footer-widget p,
.footer-widget-title,
.footer-widget .widget-link li a {
    color: #35185a;
}

.footer-copyright-section {
    background-color: #35185a;
}

.section-padding-02 {
    display: block;
    position: relative;
}

.single-work{
    border:2px solid transparent;
}

.single-work::before {
    display: none;
}

.single-work:hover {
    background-color: transparent;
    border:2px solid #35185a;
}

.back-to-top {
    background-color: #655081;
}

.back-to-top:focus,
.back-to-top:hover {
    color: #ffffff;
    background-color: #542b89;
}

.single-work .content-wrapper .title {
    height: 54px;
}

.content-wrapper img {
    width: 160px;
    height: 160px;
    object-fit: contain;
    object-position: center;
}

#particles-js {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
}

.white-box {
    display: block;
    position: relative;
    background-color: #ffffff;
    z-index: 2;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #e4dcf0;
}

.slider-content {
    z-index: 2;
}

.bg-image {
    width: 400px;
    z-index: 10;
    position: relative;
    height: calc(100% - 120px);
    margin-top: 120px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.section-end {
    padding-bottom: 130px;
    background:#f3f2f3;
}

.primary-menu ul li.active a {
    color: #5f7de6 !important;
    border-bottom: 1px solid;
}

.primary-menu ul li:hover a {
    color: #5f7de6 !important;
    border-bottom: 1px solid;
}


.header-top-info p a {
    color: #128c7e;
}

.btn-custom-01 {
    background-color: #5f7de6;
    border-color: #5f7de6;
    border-bottom: 2px solid #3b55b1;
    color: #ffffff;
}

.btn-custom-01:focus,
.btn-custom-01:active,
.btn-custom-01:hover {
    background-color: #2b339e;
    border-color: #2b339e;
    border-bottom-color: #2b339e;
    color: #ffffff;
}

.btn-custom-02 {
    border-bottom: 2px solid #2b339e;
}

.btn-custom-02:focus,
.btn-custom-02:active,
.btn-custom-02:hover {
    border-bottom-color: #952339;
}

.single-slider {
    height: 80vh;
    display: flex;
    align-items: center;
}

.slider-content {
    padding-top: 120px;
}

.how-we-work-wrapper{
    padding:0 15px!important;
}


@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 767px) {
    .single-slider {
        height: auto;
        display: block;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .slider-content {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 1368px) {
    .single-slider {
        height: 100vh;
    }
    .header-logo img{
        width: 160px;
    }
}

@media only screen and (max-width: 767px) {
    .single-slider {
        height: 100vh;
    }

    .bg-image {
        display: flex;
        position: absolute;
        right: 0;
        margin: 0;
        height: 100%;
        width: 250px;
        bottom: -35px;
        align-items: flex-end;
    }

}

@media only screen and (max-width: 575px) {
    .header-main-wrapper{
        padding:15px!important;
    }
}

.about-count {
    justify-content: flex-start;
}

.about-count .single-count {
    margin-right: 25px;
}

.service-icon .fa {
    font-size: 70px;
    color: #0046e2;
    -webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.single-service .service-icon {
    margin-top: 0px;
}

.single-service:hover .fa {
    color: #ee0f39;
}

.single-service .title a {
    text-transform: capitalize;
}

.footer-logo img {
    height: 80px;
}

@media only screen and (max-width: 575px) {
    .footer-logo a img {
        width: auto;
    }

    .footer-logo img {
        height: 60px;
    }
}

.footer-widget-wrapper {
    margin-top: -120px;
    margin-bottom: -60px;
}

@media only screen and (max-width: 991px) {
    .footer-widget-wrapper {
        margin-top: -60px;
        margin-bottom: 0;
    }
    .primary-menu ul li {
        position: relative;
        padding: 0px 12px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (max-width: 767px) {
    .footer-link-wrapper {
        justify-content: flex-start;
    }
}

.widget-info a:hover {
    color: #dddddd;
}

.widget-subscribe .btn-custom-01:hover,
.widget-subscribe .btn-custom-01:active,
.widget-subscribe .btn-custom-01:focus {
    background-color: #dddddd;
    color: #ee0f39;
    border-bottom-color: #ee0f39;
}

@media only screen and (max-width: 991px) {
    .choose-content {
        max-width: 100%;
    }
}

.single-testimonials {
    margin-top: 50px;
}

.no-banner {
    padding-top: 250px;
}

@media only screen and (max-width: 991px) {
    .no-banner {
        padding-top: 150px;
    }
}

label.error {
    color: red;
    margin-top: 12px;
    text-align: right;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):focus,
textarea:focus {
    outline: none;
    border-color: #0046e2;
}

.form-row {
    display: flex;
}

.form-label-group {
    margin-right: 20px;
    margin-bottom: 20px;
}

.my-account-tab .account-title {
    text-transform: capitalize;
}

.single-product .product-content .name {
    color: #ffffff;
    text-transform: capitalize;
}

.product-quickview-content .title {
    text-transform: capitalize;
}

.product-quickview-content .product-categories-tags .label {
    margin-top: 0;
}

.product-quickview-content .product-categories-tags ul li a {
    background: #c9d9fc;
    border-radius: 5px;
    padding: 2px 16px;
    font-size: 12px;
    color: #343434;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    pointer-events: none;
}

.product-image img {
    width: 100%;
    height: auto;
}

textarea.form-control {
    height: unset;
    font-size: 14px;
}

.single-form p {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
    margin-bottom: 0;
    font-size: 14px;
    border: 1px solid #cde9ff;
    display: flex;
    align-items: center;
}

.single-brand img {
    height: 80px;
    width: 100%;
    object-fit: contain;
}

.single-product .product-image {
    height: 338px;
}

.product-image img {
    width: 100%;
    object-position: center;
    height: 100%;
    object-fit: cover;
}

.product-quickview-content .product-action li a,
.single-product .product-action li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #c9d9fc;
    border-radius: 50%;
    text-align: center;
    color: #0046e2;
    font-size: 20px;
    border: 0;
}

.product-quickview-content .product-action li a:hover,
.single-product .product-action li a:hover {
    background-color: #0046e2;
    color: #ffffff;
}

.unavailable {
    color: #ffffff;
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    font-size: 14px;
    padding: 5px 20px;
    background: #cb3333;
    border-radius: 8px;
    margin: 20px;
}

button.disable {
    opacity: 0;
}

.product-quickview-content .product-quantity input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]) {
    pointer-events: none;
}

.checkout-payment p {
    font-size: 14px;
}

.payment-bold {
    font-weight: 700;
    font-size: 17px !important;
}

.payment-important {
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    color: green;
}

.checkout-form .single-form input+input {
    margin: 0;
}

textarea {
    height: 120px;
}

.tab-content {
    min-height: 400px;
}

.account-table .table tbody tr td {
    padding: 10px 20px;
}

.status-pending {
    background: #d3d3d3;
    padding: 2px 10px;
    border-radius: 8px;
    color: #fff;
}

.status-review {
    background: #ffa929;
    padding: 2px 10px;
    border-radius: 8px;
    color: #fff;
}

.status-success {
    background: #43bf58;
    padding: 2px 10px;
    border-radius: 8px;
    color: #fff;
}

.status-failed {
    background: #ff7a7a;
    padding: 2px 10px;
    border-radius: 8px;
    color: #fff;
}

.account-table {
    height: 250px;
    overflow: auto;
    color: #fff;
}

/* Custom File */

.custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: #464a4c;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-radius: 10px;
}

.custom-file-control::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    line-height: 30px;
    color: #ffffff;
    background-color: #0046e2;
    border-radius: 10px;
}

.form-control-file,
.form-control-range {
    display: block;
}

.custom-file .custom-file-control::before {
    content: "Upload";
    height: 50px;
}

.custom-file .custom-file-control::after {
    content: "Pilih gambar...";
    line-height: 28px;
}

.custom-file-control.selected::after {
    content: "" !important;
}

.custom-file {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 2.5rem;
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
}

.custom-file {
    height: 52px;
}

.custom-file-control {
    white-space: nowrap;
    height: 50px;
    border: 1px solid #cde9ff
}

.custom-file-input {
    min-width: 14rem;
    max-width: 100%;
    height: 52px;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.custom-file-input {
    cursor: pointer;
}

.over-hidden {
    overflow: hidden;
}

.error-upload {
    font-size: 12px;
}